{% extends "base.html" %}

{% block content %}
<h1>Its ts my test site</h1>
<h2>I learning in a programing school Logika. And we now learned how to create website.</h2>
<h3>So i think create this test website.This site in beta version, but i update my site.</h3>
<h4>My hobby its play a computer game and play to the piano</h4>
<h5>I like programming, because i can make my own game</h5>
<h6>I don't forget adobe flash, because its the best program what i ever seen!</h6>
<h7>I never forget this nostalgia days with adobe flash.</h7>
<h8>Here some music you can listen that describe's nostalgia days <a href="https://www.google.com/search?sca_esv=d645707ffb8e0e1d&udm=7&sxsrf=AHTn8zqjKmnYBKHISFqbR8Ja5rjPfE-qzg:1737839239136&q=glorious+morning&sa=X&sqi=2&ved=2ahUKEwip2pnU45GLAxV5SfEDHaxyBKwQ8ccDegQIFRAF&biw=1536&bih=730&dpr=1.25#fpstate=ive&vld=cid:617f7e0e,vid:7T_YtklLyyo,st:0">Glorious Morning</a> or <a href="https://www.google.com/search?q=glorious+morning&oq=&gs_lcrp=EgZjaHJvbWUqCQgAEEUYOxjCAzIJCAAQRRg7GMIDMgkIARBFGDsYwgMyCQgCEEUYOxjCAzIJCAMQRRg7GMIDMgkIBBBFGDsYwgMyCQgFEEUYOxjCAzIJCAYQRRg7GMIDMgkIBxBFGDsYwgPSAQ0yNzEzMzM3MDJqMGo3qAIIsAIB&sourceid=chrome&ie=UTF-8#fpstate=ive&vld=cid:0363f55e,vid:yolbGaJD4AY,st:0">Glorious Morning 2</a></h8>
<h9>So that's all!</h9>
{% endblock %}