{% extends "base.html" %}

{% block content %}
<ul class="nav justify-content-center">
    <h1>The survivors</h1>
</ul>
<p>Welcome to the official page of The Survivors Clan! We are a group of skilled and determined Minecraft players who have faced every challenge the game throws at us and survived. Join us in our journey of domination, survival, and building!</p>
<h3>Our Values</h3>
    <ul class="nav justify-content-center">
        <li>Survival: We thrive on overcoming obstacles and surviving in the harshest environments.</li>
        <li>Teamwork: We believe in the power of collaboration and teamwork.</li>
        <li>Adventure: Exploring the world of Minecraft and uncovering its secrets.</li>
        <li>Building: Creating epic structures, from fortresses to entire cities.</li>
    </ul>
<h3>Achievements</h3>
    <p>As a clan, we've accomplished numerous feats within the Minecraft world. Here are some of our top achievements:</p>
    <ul class="nav justify-content-center">
        <li>Built a massive fortress to defend against mobs and players.</li>
        <li>Defeated the Ender Dragon together in a massive battle.</li>
        <li>Created an enormous automated farm for endless resources.</li>
        <li>Successfully completed every Minecraft challenge mode as a team.</li>
        <li>Explored and mapped out entire biomes, discovering hidden secrets.</li>
    </ul>
<button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo">Join to clan!</button>
  <div id="demo" class="collapse">
    You successfully join to the clan!
  </div>
</div>

{% endblock %}