{% extends "base.html" %}

{% block content %}
<div class="list-group">
  <a href="/Clan-page-1" class="list-group-item list-group-item-action">The survivors</a>
  <a href="/Clan-page-2" class="list-group-item list-group-item-action list-group-item-success">Military teamwork</a>
  <a href="/Clan-page-3" class="list-group-item list-group-item-action list-group-item-secondary">Undead Bones</a>
  <a href="/Clan-page-4" class="list-group-item list-group-item-action list-group-item-info">Cloud skull</a>
  <a href="/Clan-page-5" class="list-group-item list-group-item-action list-group-item-warning">The heist sword</a>
  <a href="/Clan-page-6" class="list-group-item list-group-item-action list-group-item-danger">Dagerskull bodys</a>
  <a href="/Clan-page-7" class="list-group-item list-group-item-action list-group-item-primary">Magic tree</a>
  <a href="/Clan-page-8" class="list-group-item list-group-item-action list-group-item-dark">Darkheart</a>
  <a href="/Clan-page-9" class="list-group-item list-group-item-action list-group-item-light">The Boys</a>
</div>

{% endblock %}