{% extends "base.html" %}

{% block content %}
<div class="list-group">
  <a href="Cl@n-page#1" class="list-group-item list-group-item-action">The survivors</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-success">Military teamwork</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Undead Bones</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-info">Cloud skull</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">The heist sword</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Dagerskull bodys</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Magic tree</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Darkheart</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-light">The Boys</a>
</div>

{% endblock %}