{% extends "base.html" %}

{% block content %}
<h1>The War of the World</h1>

<p>Best server to play fun</p>
<div class="card" style="width:400px">
    <img class="card-img-top" src="../bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Donation shop</h4>
      <p class="card-text">The shop to only real money</p>
      <a href="Donation" class="btn btn-primary">See</a>
    </div>
  </div>
<!-- Centered nav -->
<ul class="nav justify-content-center">
<div class="card" style="width:400px">
    <div class="card-body">
      <h4 class="card-title">Servers</h4>
      <p class="card-text">You can start the game, when you choose the server</p>
      <a href="Servers" class="btn btn-primary">See</a>
    </div>
</ul>
    <ul class="nav justify-content-end">
    <img class="card-img-bottom" src="../bootstrap4/img_avatar6.png" alt="Card image" style="width:100%">
    <div class="card" style="width:400px">
    <div class="card-body">
      <h4 class="card-title">Clans</h4>
      <p class="card-text">Join the clan to be the best</p>
      <a href="Cl@N$" class="btn btn-primary">See</a>
    </div>
    <img class="card-img-bottom" src="../bootstrap4/img_avatar6.png" alt="Card image" style="width:100%">
  </div>
</div>
</ul>>
  </div>
</div>
{% endblock %}