{% extends "base.html" %}

{% block content %}
<ul class="nav justify-content-center">
<h1>The War of the World</h1>
</ul>
<ul class="nav justify-content-center">
<span>Best server to play fun</span>
</ul>

<div class="container">

    <div class="row">
         <div class="col-md-3 col-sm-6">
        <div class="card" style="width:400px">
    <img class="card-img-top" src="{{ url_for('static', filename='coin.jpg') }}" alt="Card image" style="">
    <div class="card-body">
      <h4 class="card-title">Donation shop</h4>
      <p class="card-text">The shop to only real money</p>
      <a href="Donation" class="btn btn-primary">See</a>
    </div>
  </div>
    </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card" style="width:400px">
    <div class="card-body">
      <h4 class="card-title">Servers</h4>
      <p class="card-text">Way to start a game</p>
      <a href="Servers" class="btn btn-primary">See</a>
    </div>
</div>
    </div>
    <div class="col-md-3 col-sm-6">
        <img class="card-img-bottom" src="{{ url_for('static', filename='pngtree-list-icon-png-image_5194124.jpg') }}" alt="Card image" style="">
    <div class="card" style="width:400px">
    <div class="card-body">
      <h4 class="card-title">Clans</h4>
      <p class="card-text">Join the clan to be the best</p>
      <a href="Cl@N$" class="btn btn-primary">See</a>
    </div>
    <img class="card-img-bottom" src="{{ url_for('static', filename='images.png') }}" alt="Card image" style="width:100%">
    </div>
</div>

<!-- -->
</div>



{% endblock %}