{% extends "base.html" %}

{% block content %}
<div class="btn-group">
  <button type="button" class="btn btn-primary">Minecraft-Server 1</button>
  <button type="button" class="btn btn-primary">Minecraft-Server 2</button>
  <button type="button" class="btn btn-primary">Minecraft-Server 3</button>
  <button type="button" class="btn btn-primary">Minecraft-Server 4</button>
  <button type="button" class="btn btn-primary">Minecraft-Server 5</button>
  <button type="button" class="btn btn-primary">Minecraft-Server 6</button>
  <button type="button" class="btn btn-primary">Minecraft-Server 7</button>
  <button type="button" class="btn btn-primary">Minecraft-Server 8</button>
  <button type="button" class="btn btn-primary">Minecraft-Server 9</button>
  <button type="button" class="btn btn-primary">Minecraft-Server 10</button>
  <button type="button" class="btn btn-primary">Minecraft-Server 11</button>
  <button type="button" class="btn btn-primary">Minecraft-Server 12</button>
  <button type="button" class="btn btn-primary">Minecraft-Server 13</button>
  <button type="button" class="btn btn-primary">Minecraft-Server 14</button>
</li>
</div>

{% endblock %}